/Users/drewderyk/Desktop/GitHub/RP-Malcomb/data/raw/private/rdhs.json
C:/GitHub/HEGSRR/RPr-Malcomb-2014/data/raw/private/rdhs.json
C:/GitHub/HEGSRR/RPr-Malcomb-2014/data/scratch/rdhs.json
D:/github/hegsrr/RPr-Malcomb-2014/data/scratch/rdhs.json
